* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,400;1,600;1,700&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #334155;
}

.mx1000-auto {
  max-width: 1000px;
  margin-inline: auto;
  padding: 0 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand-logo {
  font-family: 'Lobster Two', cursive;
  color: #1e293b;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-decoration: none;
}